.btn {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 1.3em;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-secondary {
  color: #dc143c;
}
.btn-secondary:hover {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-primary{
    color: white;
}
.btn-primary:hover{
    color: crimson;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
